/* Button Styling */
.custom-button {
    align-items: center;
    background-color: #FF0000; /* Red background */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #FFFFFF; /* White text */
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .custom-button:hover,
  .custom-button:focus {
    background-color: #B22222; /* Dark red background on hover */
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #FFFFFF; /* Ensure text remains white on hover */
  }
  
  .custom-button:hover {
    transform: translateY(-1px);
  }
  
  .custom-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  .welcome-container {
    margin-top: 50px; /* Adjust the value as needed */
  }